<div class="container">
     <!-- page header -->
    <h1>
        Guest book
    </h1>

    <!-- loading -->
    <div *ngIf="isPageLoading">
        Loading...
    </div>

    <!-- messages wrapper -->
    <div *ngIf="!isPageLoading" class="messages-wrapper">
        <div *ngFor="let messageData of messages">
            <p><b><format-date-component [unixTime]="messageData.time"></format-date-component></b></p>
            <p [innerHTML]="messageData.message | urlify"><p>
            <br />
        </div>
    </div>

    <hr />

    <!-- new message form -->
    <form (ngSubmit)="onSubmit()" #messageForm="ngForm">
            <div class="form-group">
                <textarea autoSize
                    class="form-control"
                    [(ngModel)]="newMessage" 
                    name="message" 
                    required>
                </textarea>
            </div>

        <button type="submit" class="btn btn-success" [disabled]="!messageForm.form.valid">Create</button>
    </form>
</div>