<div class="container">
    <!-- page header -->
    <h1>User info</h1>

    <!-- loading -->
    <div *ngIf="isPageLoading">
        Loading...
    </div>

    <!-- nothing found -->
    <ng-container *ngIf="!isPageLoading && !user.data">
        <div class="alert alert-warning" role="alert">
            Nothing found!
        </div>
    </ng-container>

    <!-- user wrapper -->
    <ng-container *ngIf="!isPageLoading && user.data">
        <user-component [user]="user.data"></user-component>
    </ng-container>

    <!-- back wrapper -->
    <div>
        <a routerLink="/users">Back</a>
    </div>
</div>
